<template lang="jade">
    .hello
        h1 {{ msg }}
        .boo {{ boo }}
</template>

<script>
    export default {
        data() {
            return {
                msg: 'Welcome to Your Vue.js App 111',
                boo: 'boo'
            }
        }
    }
</script>

<style lang="sass">
    $boo: green

    .hello
        color: $boo
        // @include section-mixin
        width: $section-width
        +section-mixin
    
    .boo
        background: $red
</style>